@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background-image: url("../img/scenic-train-1.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

:root {
  --orange-pkp: #fa781a;
  --orange-pkp-hover: #fbad75;
  --blue-pkp: #1e00ff;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  background-color: white;
  font-size: 24px;
  /* border-bottom: 1px solid #f2f2f2; */
}
.navbar h1 {
  /* color: #f1356d; */
}
.navbar .links {
  margin-left: auto;
  margin-right: 50px;
}
.log-out-button {
  margin-left: 50px;
  /* margin-right: 50px; */

  background-color: var(--orange-pkp);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.log-out-button:hover {
  /* background-color: #0056b3; */
  /* background-color: var(--blue-pkp); */
  background-color: var(--orange-pkp-hover);
}

.navbar a {
  margin-left: 46px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* register/login form */

.form {
  padding: 50px;
  max-width: 800px;
  margin: 10% auto;
  text-align: center;
  background-color: var(--blue-pkp);
  border-radius: 20px;
}
.form label {
  text-align: left;
  display: block;
  font-size: 24px;
  color: white;
}
.form h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}

.form input,
.form textarea,
.form select {
  font-size: 24px;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.form button {
  background: #ff9d00;
  color: #fff;
  border: 0;
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
  min-width: 300px;
}

.password-error {
  color: "red";
  font-size: 30px;
}

.bottom-text {
  font-size: 16px;
  color: white;
  margin-top: 10px;
}

.bottom-text a {
  color: white;
}

/* account panel */

.account-panel {
  margin: 10% auto;
  padding: 0px 50px 50px 50px;
  background-color: var(--blue-pkp);
  border-radius: 20px;
}

.account-panel h1 {
  color: white;
  float: top;
  text-align: center;
  margin-bottom: 50px 0 50px 0;
}

.account-panel-inside {
  padding: 50px 10px;
  background-color: #d1d1d1;
  border-radius: 20px;
  display: flex;
}

.sidenav {
  max-width: max-content;
}

.sidenav a {
  /* max-width: max-content; */
  color: black;
  font-weight: bold;
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  background-color: #858585;
  display: block;
  border-radius: 10px;
  margin: 5px 0px;
  text-align: center;
}

hr.solid {
  border-top: 3px solid black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* my tickets list */

.ticket-list {
  float: left;
  margin-left: 50px;
  /* margin-bottom: 20px; */
  display: flex;
  /* flex-wrap: wrap; */
  overflow: auto;
  gap: 20px;
  max-width: 100%;
}

.ticket {
  /* flex: 1; */
  /* display: flex; */
  /* overflow:; */
  /* max-width: max-content; */
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* min-width: 300px; */
}

.ticket-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ticket-details text {
  /* text-align: center; */
  flex: 1;
  /* margin */
}

.car-seat-number {
  flex: 1;
  /* text-align: center; */
}

.icon {
  margin-right: 10px;
  font-size: 18px;
  color: #333;
}

#arrow {
  margin-left: 10px;
  margin-right: 10px;
  /* width: 100px; */
}

#od-do {
  margin-right: 10px;
}

.od-do-spacer {
  width: 30px;
}

/* Customize icons (Font Awesome) */
.icon-calendar::before {
  content: "\f073";
}

.icon-user::before {
  content: "\f007";
}

.icon-train::before {
  content: "\f238";
}

.icon-map-marker-alt::before {
  content: "\f3c5";
}

.icon-ticket-alt::before {
  content: "\f3ff";
}

.return-ticket {
  background-color: var(--orange-pkp);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.return-ticket:hover {
  /* background-color: #0056b3; */
  /* background-color: var(--blue-pkp); */
  background-color: var(--orange-pkp-hover);
}

.TravelTimeInfo {
  align-items: center;
  background-color: white;
  padding: 5px; /* Add padding for spacing */
  margin: 15px auto;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}
.TravelDestInfo {
  align-items: center;
  background-color: white;
  padding: 5px; /* Add padding for spacing */
  margin-bottom: 30px;
  margin-right: 70px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  padding-top: 20px;
}
.TicketInfoColumn {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  align-items: center;
}
.TicketInfoColumnData {
  font-size: 26px;
}
.TravelTravelerInfo {
  background-color: white;
  padding: 5px; /* Add padding for spacing */
  margin: 15px auto;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.TicketInfoHeader {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-weight: bold;
  font-size: 38px;
}
.ConfirmationButton {
  background: #ff9d00;
  color: #fff;
  border: 0;
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  min-width: 200px;
  margin-right: 20px;
}
.ConfirmationButton:hover {
  background-color: #0056b3;
}
.ButtonAligment {
  align-items: center;
  display: flex;
  justify-content: center;
}
.separator {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.TravelerInfoInput {
  margin: 5px;
}
.dateViewTile {
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: auto 10px;
  display: flex;
}
.dateViewTile .text {
  margin-left: 5px;
}
.ConnectionInfoColumn {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  align-items: center;
}
.ButtonAligment .Button {
  background: #ff9d00;
  color: #fff;
  border: 0;
  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  min-width: 150px;
  margin-right: 20px;
  margin-left: 20px;
}
.ButtonAligment .Button:hover {
  background-color: #0056b3;
}
.account-panel-inside1 {
  padding: 50px 10px;
  background-color: #d1d1d1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.calendarButton {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.connection-list {
  float: left;
  margin-left: 50px;
  /* margin-bottom: 20px; */
  display: flex;
  /* flex-wrap: wrap; */
  overflow: auto;
  gap: 20px;
  max-width: 100%;
}
.connection {
  /* flex: 1; */
  /* display: flex; */
  /* overflow:; */
  /* max-width: max-content; */
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: max-content;
}
.connection-text-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  justify-content: space-between;
}
.connection-text-column .text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 5px;
}
.connection-text-column .time {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-size: 30px;
}
.connection-row-info {
  display: flex;
  flex-direction: row;
}
.ad-list {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.ad-block {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #ff9d00;
}

.ad-block img {
  max-width: 200px;
  max-height: 200px;
}
.ad-block .ad-content {
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.errorMessage {
  color: red;
  font-size: 30px;
<<<<<<< Updated upstream
}
=======
}

.after-delete-link {
  color: var(--orange-pkp);
  font-size: 30px;
}

.achievements-page {
  padding: 20px;
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.achievement-icon {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.achievement-tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 999;
}
>>>>>>> Stashed changes
